@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-unique relative;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #fff #ec4899;
}

body::-webkit-scrollbar {
  @apply w-[10px];
}

/* Track */
body::-webkit-scrollbar-track {
  background: #fff;
}

body::-moz-scrollbar-thumb:hover {
  background: #ec4899;
}
/* Handle */
body::-webkit-scrollbar-thumb {
  background: #ec4899;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #fb7185;
}
.transition_all {
  @apply transition duration-200;
}

.button_icon {
  @apply p-2 bg-white/20 dark:bg-white/5 dark:hover:bg-white/20  hover:bg-white/40 transition_all;
}

.box {
  @apply w-full lg:w-[900px] xl:w-[1080px];
}

.button_hover {
  @apply bg-primary dark:hover:bg-zinc-900 text-white hover:bg-white border border-transparent hover:border-pink-500 transition_all hover:text-pink-500;
}

.react-player {
  @apply w-full lg:w-[900px] h-[300px] sm:h-[450px] md:h-[400px] lg:h-[500px] xl:h-[600px] xl:w-[1080px] !important;
}

.gradient {
  @apply bg-gradient-to-r  from-pink-500 dark:hover:text-black via-red-300 ml-3 to-pink-400  hover:text-pink-500;
}
